
<!-- PREVIOUS SENTENCES -->
<div class="submitted-sentences pt-4">
    <h5 class="text-center pb-4">Previously Submitted Sentences</h5>
    <p *ngIf="!submittedSentences">No submitted sentences</p>
    <ul *ngIf="submittedSentences" class="sentences-list" [ngClass]="{'scrollable-list': submittedSentences.length > 4}">
      <li *ngFor="let sentence of submittedSentences" class="sentence-item">
        {{ sentence.word }}
      </li>
    </ul>
  </div>
  
<!-- BUILD NEW SENTENCES -->
<form [formGroup]="wordForm" class="word-form">
    <h5 class="text-center pb-4">Build a sentence below by choosing words from the dropdown</h5>
    <div class="form-group">
      <label for="wordType" class="form-label">Select a Word Type</label>
      <select id="wordType" formControlName="wordType" (change)="selectWordType()" class="select-box">
        <option value="" disabled style="font-family: 'Arial'">Select a Word Type</option>
        <option *ngFor="let type of wordTypes" [value]="type.word">{{ type.word }}</option>
      </select>
    </div>
  
    <div class="form-group" *ngIf="selectedWordType">
      <label for="word" class="form-label">Choose a Word</label>
      <select id="word" formControlName="word" (change)="selectWord()" class="select-box">
        <option value="" disabled style="font-family: 'Arial'">Select a Word</option>
        <option *ngFor="let item of wordList" [value]="item.word">{{ item.word }}</option>
      </select>
    </div>
    
  
  </form>
    