<div class="container-fluid">
    <div class="row">
        <!-- LEFT CONTAINER -->
        <div class="col-md-6 left-container">
            <div class="d-flex flex-column align-items-center justify-content-center h-100 mt-sm-2 mt-2 mb-sm-5 mb-5">
                <div class="row">
                    <div class="col-md-12">
                        <div class="submitted-sentences">
                            <!-- SUBMITTED SENTENCES -->
                            <h5 class="text-center pb-4 leftContHeader">Previously Submitted Sentences</h5>
                            <p *ngIf="!submittedSentences" class="text-center text-muted">No submitted sentences</p>
                            <ul *ngIf="submittedSentences" class="sentences-list" [ngClass]="{'scrollable-list': submittedSentences.length > 4}">
                                <li *ngFor="let sentence of submittedSentences" class="sentence-item">
                                <span class="badge badge-primary mr-2">{{ sentence.word }}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- RIGHT CONTAINER -->
        <div class="col-md-6 right-container">
            <div class="d-flex flex-column align-items-center justify-content-center h-100">
                <div class="row">
                    <div class="col-md-12">
                        <!-- BUILD NEW SENTENCES -->
                        <form [formGroup]="wordForm" class="word-form">
                            <h5 class="text-center pb-4">Build a sentence below by choosing words from the dropdown</h5>
                            <div class="form-group">
                                <label for="wordType" class="form-label">Select a Word Type</label>
                                <select id="wordType" formControlName="wordType" (change)="selectWordType()" class="select-box">
                                    <option value="" disabled>Select a Word Type</option>
                                    <option *ngFor="let type of wordTypes" [value]="type.word">{{ type.word }}</option>
                                </select>
                            </div>
                            <div class="form-group" *ngIf="selectedWordType">
                                <label for="word" class="form-label">Choose a Word</label>
                                <select id="word" formControlName="word" (change)="selectWord()" class="select-box">
                                    <option value="" disabled>Select a Word</option>
                                    <option *ngFor="let item of wordList" [value]="item.word">{{ item.word }}</option>
                                </select>
                            </div>     
                            <div class="row">
                                <div class="col-md-6">
                                    <button (click)="addToSentence()" [disabled]="!selectedWordType || !selectedWord" class="btn add-btn">Add to Sentence</button>
                                </div>
                                <div class="col-md-6">
                                    <button (click)="clearSentence()" [disabled]="!sentence" class="btn clear-btn">Clear Sentence</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <!-- NEW SENTENCE PREVIEW -->
                        <div class="submitted-sentences pt-4 mb-4">
                            <h5 class="text-center pb-4">Sentence Preview</h5>
                            <div class="sentence-display text-start pt-2">
                                <p [hidden]="sentence">No words chosen</p>
                                <p><span [hidden]="!sentence" class="sentence-item">{{ sentence }}</span></p>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-md-12">
                                    <button (click)="submitSentence()" [disabled]="!sentence" class="btn submit-btn">Submit Sentence</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
